
{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block body %}
<p class="h1">History</p>


{% for record in Translates %}
<div class="row justify-content-center">
<div class="card text-white bg-primary mb-3" style="max-width: 55rem; width: 30rem;" align="center">
    <div class="card-header">{{record.date}}</div>
    <div class="card-body">
      <h5 class="card-title">{{record.source_language}} -> {{record.target_language}}</h5>
      <p class="card-text">[{{record.source_language}}]: {{record.source_text}}</p>
      <p class="card-text">[{{record.target_language}}]: {{record.target_text}}</p>
    </div>
  </div>
</div>
{% endfor %}
<div class="row justify-content-center"
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{% endblock body %}

{% block script %}

{% endblock script %}