{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static 'translator/history.css' %}>
{% endblock head %}
{% block title %}Translation history{% endblock title %}

{% block body %}
    <br>
    <div class="scrollable">
        <div>
            {% for record in Translates %}
                <div class="row justify-content-center">
                    <div class="card text-muted bg-light mb-3 opac" style="max-width: 55rem; width: 30rem;" align="center">
                        <div class="card-header">{{record.date}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{record.source_language}} -> {{record.target_language}}</h5>
                            <p class="card-text activate">[{{record.source_language}}]: {{record.source_text}}</p>
                            <p class="card-text">[{{record.target_language}}]: {{record.target_text}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <br>

        <nav aria-label="pagination">
            <ul class="pagination justify-content-center opac ">
                {% for page in page_obj.paginator.page_range  %}
                    {% if page_obj.number == page %}
                        <li class="page-item active"><a class="page-link text-muted"  href="?page={{page}}" style="text-decoration: none;">{{page}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link text-muted" href="?page={{page}}" style="text-decoration: none;">{{page}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

{% endblock body %}
