
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static 'translator/translator.css' %}>
{% endblock head %}
{% block title %}
    Translator
{% endblock title %}

{% block body %}
    <form method="post" id ="translate_form">
        {% csrf_token %}
        <div>
            <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4" align="center">
                        {{form.source_language}}
                    </div>
                    <div class="col-xsm-1" align="center">
                        <button class="btn-secondary swap-button" name="swap-btn"></button>
                    </div>
                    <div class="col-sm-4 " align="center">
                        {{form.target_language}}
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-sm-4" align="center">
                        {{form.source_text}}
                    </div>
                    <div class="col-sm-4" align="center" >
                        {{form.target_text}}
                    </div>
                </div>
                <input type="hidden" id="record_field" name = "record_field">
                <br>
                <div class="row justify-content-center">
                    <div class="col" align="center">
                        <button class="btn-secondary rec-button opac" type="button" name="record_btn" id="record_btn"></button>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">

                    <div class="col" align="center">
                        <button class="btn text-muted opac" type="submit" name="submit-btn">Translate!</button>
                    </div>

                </div>
            </div>
            <br>
        </div>
    </form>
{% endblock body %}

{% block script %}
<script src={% static 'translator/js/recording.js' %}></script>
{% endblock script %}