{% extends 'base.html' %}

{% block title %}
Translator!
{% endblock title %}

{% block body %}
<form action="" method="post">
  {% csrf_token %}
  
    <div>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4" align="center">
                    {{form.source_language}}
                </div>
                <div class="col-xsm-1" align="center">
                    
                    <button class="btn-primary swap-button" name="swap-btn"></button>
                </div>

                <div class="col-sm-4 " align="center">
                    {{form.target_language}}
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                
                <div class="col-sm-4" align="center">
                    {{form.source_text}}
                         
                </div>
                <div class="col-sm-4" align="center" >
                    {{form.target_text}}
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col" align="center">
                    <button class="btn" type="submit" name="submit-btn" style="background-color:darkred;">Translate it!</button>
                </div>
                
            </div>
        </div>
        <audio src=""></audio>
        
        <br>
    </div>
</form>
{% endblock body %}

{% block script %}

{% endblock script %}