
{% extends 'base.html' %}
{% load static %}
{% block title %}
Translator
{% endblock title %}

{% block body %}
<form method="post" id ="translate_form">
  {% csrf_token %}
    <div>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4" align="center">
                    {{form.source_language}}
                </div>
                <div class="col-xsm-1" align="center">
                    <button class="btn-primary swap-button" name="swap-btn"></button>
                </div>
                <div class="col-sm-4 " align="center">
                    {{form.target_language}}
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-sm-4" align="center">
                    {{form.source_text}}
                </div>
                <div class="col-sm-4" align="center" >
                    {{form.target_text}}
                </div>
            </div>
            <input type="hidden" id="record_field" name = "record_field">
            <br>
            <div class="row justify-content-center">
                <div class="col" align="center">
                    <button class="btn-primary rec-button" type="button" name="record_btn" id="record_btn"></button>
                </div>        
            </div>
            <br>
            <div class="row justify-content-center">
                
                <div class="col" align="center">
                    <button class="btn" type="submit" name="submit-btn" style="background-color:darkred;">Translate it!</button>
                </div>
                
            </div>
        </div>
        <br>
    </div>
</form>
{% endblock body %}

{% block script %}

<script>
    const recordButton = document.getElementById("record_btn")
    const translateForm = document.getElementById("translate_form")
    const recordField = document.getElementById("record_field")
    var voice_recorded = false
    navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
    const mediaRecorder = new MediaRecorder(stream, );
    
    const audioChunks = [];
    mediaRecorder.addEventListener("dataavailable", event => {
      audioChunks.push(event.data);
    });

    mediaRecorder.addEventListener("stop", () => {
        const audioBlob = new Blob(audioChunks);    
          
          var reader = new FileReader();
          reader.readAsDataURL(audioBlob);
          reader.onloadend = function () {
          var base64String = reader.result;
          recordField.setAttribute("value", base64String)
          translateForm.submit()
          }
              });
  
    recordButton.addEventListener("click", () => {
    if (voice_recorded == false) {
        voice_recorded = true
        mediaRecorder.start();
        recordButton.classList.remove('rec-button')
        recordButton.classList.add('rec-stop-button')
        
    } else {
        mediaRecorder.stop();
        recordButton.classList.add('rec-button')
        recordButton.classList.remove('rec-stop-button')
    } 
    })
     
    });
</script>

{% endblock script %}