.bg-col {
    background: url("images/edu.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

.opac {
    opacity: 0.95
}